﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hackathon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <p style = "font-family:Brush Script MT,Brush Script Std,Brush Script MT;font-size:16px;font-style:italic;">
                    <font size="7">Colors: </font>  
                </p>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
            
                        <div
                            <form action="">
                                <p class="redColor">
                                <input type="radio" id="brand" name="color" onchange="redClick(this)">
                                </p>
                                <p class="orangeColor">
                                    <input type="radio" id="brand" name="color" onchange="orangeClick(this)">
                                </p>
                                <p class="yellowColor">
                                    <input type="radio" id="brand" name="color" onchange="yellowClick(this)">
                                </p>
                                <p class="greenColor">
                                    <input type="radio" id="brand" name="color" onchange="greenClick(this)">
                                </p>
                                <p class ="blueColor">
                                <input type="radio" id="brand" name="color" onchange="blueClick(this)">
                                </p>
                                <p class ="pinkColor">
                                <input type="radio" id="brand" name="color" onchange="pinkClick(this)">
                                </p>
                                <p class ="purpleColor">
                                <input type="radio" id="brand" name="color" onchange="purpleClick(this)">
                                </p>
                                <p class ="blackColor">
                                <input type="radio" id="brand" name="color" onchange="blackClick(this)">
                                </p>
                                <p class ="whiteColor">
                                <input type="radio" id="brand" name="color" onchange="whiteClick(this)">
                                </p>
                            </form>
                      
                            <button><a class="navbar-brand" style = "font-family: Times New Roman, Times, serif; font-size:16px;" asp-area="" asp-page="/Index"> <strong>Clear</strong></a></button>
                        </div>
                            
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Hackathon <a asp-area="" asp-page="/Privacy"> </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
