﻿
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 20px; /* Vertically center the text there */
}

/* color-------Red---------*/

.redColor {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

    .redColor > span {
        color: #34495E;
        padding: 0.5rem 0.2rem;
    }

    .redColor > input {
        height: 75px;
        width: 75px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid #000000;
        border-radius: 20px;
        outline: none;
        transition-duration: 0.3s;
        background-color: #ff0000;
        cursor: pointer;
    }

        .redColor > input:checked {
            border: 1px solid #000000;
            background-color: #8a0000;
        }

            .redColor > input:checked + span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: #41B883;
                position: absolute;
                left: 0.7rem;
                top: 0.2rem;
            }

        

/* color-------Orange---------*/

.orangeColor {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

    .orangeColor > span {
        color: #ff6d00;
        padding: 0.5rem 0.2rem;
    }

    .orangeColor > input {
        height: 75px;
        width: 75px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid #000000;
        border-radius: 20px;
        outline: none;
        transition-duration: 0.3s;
        background-color: #ff7500;
        cursor: pointer;
    }

        .orangeColor > input:checked {
            border: 1px solid #000000;
            background-color: #ba5500;
        }

            .orangeColor > input:checked + span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: #41B883;
                position: absolute;
                left: 0.7rem;
                top: 0.2rem;
            }

       
/* color-------Yellow---------*/

.yellowColor {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

    .yellowColor > span {
        color: #34495E;
        padding: 0.5rem 0.2rem;
    }

    .yellowColor > input {
        height: 75px;
        width: 75px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid #000000;
        border-radius: 20px;
        outline: none;
        transition-duration: 0.3s;
        background-color: #fffa00;
        cursor: pointer;
    }

        .yellowColor > input:checked {
            border: 1px solid #000000;
            background-color: #796f00;
        }

            .yellowColor > input:checked + span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: #41B883;
                position: absolute;
                left: 0.7rem;
                top: 0.2rem;
            }

        
/* color-------Green---------*/

.greenColor {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

    .greenColor > span {
        color: #34495E;
        padding: 0.5rem 0.2rem;
    }

    .greenColor > input {
        height: 75px;
        width: 75px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid #000000;
        border-radius: 20px;
        outline: none;
        transition-duration: 0.3s;
        background-color: #12ff00;
        cursor: pointer;
    }

        .greenColor > input:checked {
            border: 1px solid #000000;
            background-color: #0a6700;
        }

            .greenColor > input:checked + span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: #41B883;
                position: absolute;
                left: 0.7rem;
                top: 0.2rem;
            }

       
/* color-------Blue---------*/

.blueColor {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

    .blueColor > span {
        color: #34495E;
        padding: 0.5rem 0.2rem;
    }

    .blueColor > input {
        height: 75px;
        width: 75px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid #000000;
        border-radius: 20px;
        outline: none;
        transition-duration: 0.3s;
        background-color: #0024ff;
        cursor: pointer;
    }

        .blueColor > input:checked {
            border: 1px solid #000000;
            background-color: #001153;
        }

            .blueColor > input:checked + span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: #41B883;
                position: absolute;
                left: 0.7rem;
                top: 0.2rem;
            }

       
/* color-------Pink---------*/

.pinkColor {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

    .pinkColor > span {
        color: #34495E;
        padding: 0.5rem 0.2rem;
    }

    .pinkColor > input {
        height: 75px;
        width: 75px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid #000000;
        border-radius: 20px;
        outline: none;
        transition-duration: 0.3s;
        background-color: #ff039d;
        cursor: pointer;
    }

        .pinkColor > input:checked {
            border: 1px solid #000000;
            background-color: #7a004f;
        }

            .pinkColor > input:checked + span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: #41B883;
                position: absolute;
                left: 0.7rem;
                top: 0.2rem;
            }

        
/* color-------Purple---------*/

.purpleColor {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

    .purpleColor > span {
        color: #34495E;
        padding: 0.5rem 0.2rem;
    }

    .purpleColor > input {
        height: 75px;
        width: 75px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid #000000;
        border-radius: 20px;
        outline: none;
        transition-duration: 0.3s;
        background-color: #b600ff;
        cursor: pointer;
    }

        .purpleColor > input:checked {
            border: 1px solid #000000;
            background-color: #5d005e;
        }

            .purpleColor > input:checked + span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: #41B883;
                position: absolute;
                left: 0.7rem;
                top: 0.2rem;
            }

        

/* color-------Black---------*/

.blackColor {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

    .blackColor > span {
        color: #34495E;
        padding: 0.5rem 0.2rem;
    }

    .blackColor > input {
        height: 75px;
        width: 75px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid #000000;
        border-radius: 20px;
        outline: none;
        transition-duration: 0.3s;
        background-color: #000000;
        cursor: pointer;
    }

        .blackColor > input:checked {
            border: 1px solid #000000;
            background-color: #414141;
        }

            .blackColor > input:checked + span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: #41B883;
                position: absolute;
                left: 0.7rem;
                top: 0.2rem;
            }

        

/* color-------White---------*/

.whiteColor {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

    .whiteColor > span {
        color: #34495E;
        padding: 0.5rem 0.2rem;
    }

    .whiteColor > input {
        height: 75px;
        width: 75px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid #000000;
        border-radius: 20px;
        outline: none;
        transition-duration: 0.3s;
        background-color: #fff;
        cursor: pointer;
    }

        .whiteColor > input:checked {
            border: 1px solid #000000;
            background-color: #9c9c9c;
        }

            .whiteColor > input:checked + span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: #41B883;
                position: absolute;
                left: 0.7rem;
                top: 0.2rem;
            }

        
