﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html lang="en">


<head>

<style type="text/css">

</style>

<div id="paint">
<canvas id="myCanvas" width="1110" height="451" style= "border: 1px solid #000000";>
</canvas>
</div>

</head>
<body bgcolor="White">


</body>
</html>

